 @import 'header';
 @import 'tabs';
 @import 'variables';
 @import 'card';
 @import 'buttons';
 @import 'form';
 @import 'boards';
 @import 'flash';
 @import 'common';


 html {
   word-spacing: 1px;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   box-sizing: border-box;
   height: 100%;
 }



 *,
 *:before,
 *:after {
   box-sizing: border-box;
   margin: 0;
 }

 body {
  position: relative;
  width: 414px;
  height: 921px;
  background-color: $base-bg-color;
  font-size: 1em;
  color: $text-base-color;
 }

 a {
  text-decoration: none;
  color: $text-base-color;
}

.container {
  padding: 26px 26px;
  width: 100%;
}

.float_btn {
  position: fixed;
  width: 362px;
  height: 160px;
  left: 30px;
  top: 348px;
  margin-top: 380px;
  background: #FFFFFF;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  i {
    margin-top: 22px;
  }
  
  &_button-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.hidden {
  display: none;
}

h3 {
  text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}